<div class=m-3>
  <h1> All the Restaurants </h1>
  <ul>
    <% @restaurants.each do |restaurant|  %>
      <h4><%= link_to restaurant.name, restaurant_path(restaurant)%></h4>
      <p><%= restaurant.address %> <strong><%= restaurant.phone_number %></strong></p>
    <% end %>
  </ul>
  <%= link_to "Add", new_restaurant_path %>
</div>
